#Trailers {
    margin: 50px 335px 0px 335px;
    

    /* -----     Title      ----- */
    .Title {
        display: flex;
        width: 65%;
        margin: 0px 0px 20px 0px
    }

    .Title-Name {
        font-size: 20px;
        font-weight: 600;
    }

    .Wrapper {
        display: flex;
        justify-content: center;
        border: 1px solid var(--black);
        border-radius: 30px;
        margin: 0px 0px 0px 20px;
        align-self: centers;
    }

    .Title-content {
        border-radius: 30px;
        padding: 4px 20px 4px 20px;
        font-size: 14px;
        font-weight: 500;
        background-color: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);
        -webkit-user-select: none;
        user-select: none;
    }

    .Title-content:hover {
        cursor: pointer;
    }

    .Active-tabs {
        color: #1ed5a9;
        background-color: var(--black);
    }

    /* -----     Content      ----- */

    .Content {
        width: 100%;
        overflow-x: scroll;
    }
    .Content::-webkit-scrollbar {
        height: 10px;
    }

    .Content::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    .Content::-webkit-scrollbar-thumb {
        background-color: rgba(158, 155, 155, 0.384);
        border-radius: 10px;
    }

    .Active-content {
        display: block;
        width: 100%;
    }

    .Active-content-data {
        display: flex;
    }

    .Show-content {
        display: none;
    }

    /* -----     Wrapper      ----- */

    .Wrapper-bottom {
        position: absolute;
        z-index: 1;
        margin: -246px 0px 0px 0px;
    }

    .Wrapper-bottom-image {
        width: 1233px;
        height: 330px;
    }

    .Wrapper-top {
        z-index: 2;
    }

    /* -----     Item      ----- */
    
    .item {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px 0px 0px;
        padding: 50px 0px 0px 0px;
    }

    .item-image {
        position: relative;
        z-index: 1;
        border-radius: 10px;
    }

    .item-name {
        font-size: 17px;
        font-weight: 700;
    }

    .item-description {
        font-size: 14px;
        font-weight: 400;
    }

}