/* -----     body      ----- */
#Trending {
    /* width: 65%; */
    margin: 40px 335px 0px 335px;
    /* border: 1px solid black; */
    /* -----     Title      ----- */
    .Title {
        display: flex;
        width: 65%;
        margin: 0px 0px 20px 0px
    }
    
    .Title-Name {
        font-size: 20px;
        font-weight: 600;
    }
    
    .Wrapper {
        display: flex;
        justify-content: center;
        border: 1px solid var(--black);
        border-radius: 30px;
        margin: 0px 0px 0px 20px;
        align-self: centers;
    }
    
    .Title-content {
        border-radius: 30px;
        padding: 4px 20px 4px 20px;
        font-size: 14px;
        font-weight: 500;
        background-color: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);
        -webkit-user-select: none;
        user-select: none;
    }
    
    .Title-content:hover {
        cursor: pointer;
    }
    
    .Active-tabs {
        color: #1ed5a9;
        background-color: var(--black);
    }
    
    .Active-tabs::before {
        content: "";
        display: none;
        position: absolute;
        transform: translateX(-50%);
    }
    
    
    /* -----     Content      ----- */
    
    .Content {
        width: 100%;
        overflow-x: scroll;
    }

    .Content::-webkit-scrollbar {
        height: 10px;
    }

    .Content::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    .Content::-webkit-scrollbar-thumb {
        background-color: rgba(158, 155, 155, 0.384);
        border-radius: 10px;
    }
    
    .Active-content {
        display: block;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .Show-content {
        display: none;
    }
    
    
    /* -----     item      ----- */
    
    .item {
        display: flex;
        flex-direction: column;
        margin: 0px 15px 0px 0px;
    }
    
    .item-image {
        width: 150px;
        height: 225px;
        border-radius: 10px;
    }
    
    .item-image:hover {
        cursor: pointer;
    }

    .item-statistical {
        width: 40px !important;
        font-weight: 650 !important;
        background-color: #000000 !important;
        border-radius: 50% !important;
        border: 2px solid #000000 !important;
        margin: -25px 0px 0px 10px !important;
    }
    
    .item-name {
        font-size: 14px;
        font-weight: 700;
        margin: 10px 0px 0px 0px;
    }

    .item-name:hover {
        color: var(--bluewhite);
        cursor: pointer;
    }
    
    .item-date {
        font-size: 13px;
        font-weight: 400;
        margin: 5px 0px 5px 0px;
    }
}
