:root {
  --background-color: rgba(3, 37, 65);
  --white: #ffffff;
  --color-logo: #087ea4;
  --black: #000000;
  --customed: #7f5563;
  --bluer: rgba(8 126 164/1);
  --bluewhite: rgba(1 180 228/1);
}

body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}